#items {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#items td, #items th {
    border: 1px solid #ddd;
    padding: 8px;
}

#items tr:nth-child(even){background-color: #f2f2f2;}

#items tr:hover {background-color: #ddd;}

#items th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #425B8A;
    color: white;
}

#somecolor {
    color: green;
}